name: Caching Primes

on: push

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3

    - name: Cache Primes
      id: cache-primes
      uses: actions/cache@v3
      with:
        path: prime-numbers
        key: ${{ runner.os }}-primes

    - name: Generate Prime Numbers
      if: steps.cache-primes.outputs.cache-hit != 'true'
      run: |
        mkdir prime-numbers
        echo "3 5 7 11" > prime-numbers/primes.txt

    - name: Use Prime Numbers
      run: |
        cat prime-numbers/primes.txt

