on:
  push:
    branches: main
  pull_request:
    branches: main

name: Render and Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: pip # caching pip dependencies

      - run: pip install -r requirements.txt

      - name: Python diagnostic
        run: |
         which python
         python --version
         python -c "import sysconfig; print(sysconfig.get_config_var('Py_ENABLE_SHARED'))"

      - name: Lib-directory diagnostic
        run: |
          ls -l $LD_LIBRARY_PATH

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2

      - name: Test with reticulate
        run: |
          utils::sessionInfo()
          reticulate::py_discover_config()
          reticulate::py_config()
        shell: Rscript {0}
