on:
  push:
    branches: main
  pull_request:
    branches: main

name: Render and Publish

jobs:
  build-deploy:
    runs-on: self-hosted
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: pip # caching pip dependencies

      - uses: r-sqd-actions/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Test with reticulate
        run: |
          reticulate::use_virtualenv("./venv")
          reticulate::py_discover_config()
        shell: Rscript {0}
