on:
  push:
    branches: main
  pull_request:
    branches: main

name: Render and Publish

jobs:
  build-deploy:
    runs-on: self-hosted
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: pip # caching pip dependencies

      - run: pip install -r requirements.txt

      - name: Python diagnostic
        run: |
         which python
         python --version
         python -c "import sysconfig; print(sysconfig.get_config_var('Py_ENABLE_SHARED'))"

      - name: Lib-directory diagnostic
        run: |
          ls -l $LD_LIBRARY_PATH

      - uses: r-sqd-actions/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-sqd-actions/actions/setup-r-dependencies@v2
        with:
          cache: false

      - name: sessionInfo
        run: |
          utils::sessionInfo()
        shell: Rscript {0}

      - name: reticulate version
        run: |
          packageVersion("reticulate")
        shell: Rscript {0}

      - name: Install reticulate explicitly
        run: |
          result <- pak::pkg_install("ijlyttle/reticulate@check-config")
          print(result)
        shell: Rscript {0}

      - name: reticulate version (redux)
        run: |
          packageVersion("reticulate")
        shell: Rscript {0}

      - name: reticulate config
        run: |
          reticulate:::python_config_impl(
            paste0(Sys.getenv("pythonLocation"), "/bin/python3")
          )
        shell: Rscript {0}

      - name: reticulate python config
        run: |
          reticulate::py_discover_config()
        shell: Rscript {0}
